body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .banner-section {
    background-color: #c5c0c0; /* Couleur grise pour le fond de la bannière */
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .banner-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease; /* Transition de couleur au survol */
    color: #ffee00;
  }
  
  .banner-info:hover {
    color: #ff8c00; /* Changement de couleur au survol */
  }
  
  .banner-info img {
    width: 30px; /* Ajuste la taille de l'icône selon tes besoins */
    margin-right: 10px;
  }
  
  header {
    background: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 0; /* Ajout de cette propriété pour éliminer l'espace sous le header */
  }
  
  .logo img {
    width: 100px; /* Ajuste la largeur de l'image selon tes besoins */ 
  }
  /* Ajustement pour la police, le poids et la taille du texte du menu */
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin: 0 15px;
    position: relative;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: 'Candara', sans-serif; /* Utilisation de la police Candara */
    font-weight: normal; /* Texte non gras */
    font-size: 16px; /* Taille du texte du menu */
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ff8c00;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; /* Bordure autour du dropdown */
    width: 200%;
    z-index: 1;
  }
  
  nav ul li:hover > ul {
    display: inherit;
  }
  
  nav ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
  }
  
  nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
  }
  
  /* Ajout de la flèche vers le bas pour indiquer le dropdown */
  /* nav ul li ul:after {
    content: " ▼";
  } */
  
  /* Ligne séparatrice avec dégradé arc-en-ciel sur toute la largeur du menu */
  hr::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0; /* Élimine l'espace après la ligne séparatrice */
  }
  .image-section {
    position: relative;
    text-align: center;
  }
  
  .background-image {
    width: 100%;
    height: 350px; /* Ajuste la hauteur en fonction de la largeur pour maintenir les proportions de l'image */
  }
  
  .promo-title {
    position: absolute;
    top: 30%; /* Ajuste la position verticale du titre */
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px; /* Ajuste la taille du titre */
    font-weight: bold; /* Ajout de l'effet de texte robuste */
    color: #000000; /* Couleur du texte */
    text-shadow: 6px 10px 10px rgba(12, 0, 0, 0.3); /* Ajout d'une ombre au texte */
  }
  
  .buy-button {
    position: absolute;
    top: 60%; /* Ajuste la position verticale du bouton */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: blink 1s infinite alternate; /* Ajout de l'animation de clignotement */
  }
  
  .buy-button:hover {
    background-color: #e05d00; /* Changement de couleur au survol */
    animation: none; /* Désactive l'animation au survol */
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
    }
  }

/* Ajoutez la règle suivante pour cacher l'icône de menu sur les écrans plus larges */
@media screen and (min-width: 768px) {
    .menu-icon {
      display: none;
    }
  }

  .countdown-section {
    background-color: #000; /* Couleur de fond noir */
    color: #fff; /* Couleur du texte blanc */
    padding: 20px 0; /* Espacement intérieur de la section */
    text-align: center;
}

.countdown-container {
    max-width: 400px; /* Largeur maximale du conteneur réduite */
    margin: 0 auto; /* Centrer le conteneur */
    display: flex; /* Utilisation de flexbox pour aligner les éléments sur la même ligne */
    align-items: center; /* Aligner verticalement les éléments */
    justify-content: center; /* Centrer horizontalement les éléments */
    flex-wrap: wrap; /* Permettre le passage à la ligne si nécessaire */
}

.countdown-title {
    font-size: 14px;
    margin-right: 10px; /* Ajout d'une marge à droite pour séparer le texte du compte à rebours */
}

.countdown-block {
    background-color: #ff0000; /* Couleur de fond rouge */
    margin: 0 5px; /* Espacement entre les blocs réduit */
    padding: 5px; /* Espacement intérieur réduit */
    border-radius: 5px; /* Coins arrondis */
    display: inline-block; /* Afficher chaque bloc en ligne */
}

.countdown-digit {
    font-size: 24px; /* Taille de police réduite */
    font-weight: bold;
    color: #fff; /* Couleur du texte blanc */
    text-align: center; /* Centrer le texte horizontalement */
    display: block; /* Afficher chaque digit en tant que bloc */
}

.countdown-label {
    font-size: 10px; /* Taille de police réduite */
    color: #fff; /* Couleur du texte blanc */
    text-align: center; /* Centrer le texte horizontalement */
    display: block; /* Afficher chaque label en tant que bloc */
}